*{
    margin: 0px;
     background-color: #f4f8ff;
}

/* SHARED STYLE  */

.font1{
     /* inter */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.font2{
     /* raleway */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 /***** ****HEADER STYLE**** *****/

 /* **NVIGATION STYLE** */

#header{
    margin: 0px;
    height: 698px;
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}
#logo{
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}
#first-btn{
    background-color: #4E47FF;
    width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px ;
    padding: 30px 0px;
    background-color: rgb(255, 255, 255,0) ;
   /* opacity: 0; */
}

/* ***BANNER STYLE*** */


#banner-title{
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    background-color: rgb(0, 255, 255,0);
   
}

#second-btn{
    background-color: #4E47FF;
     width: 150px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    color: white;
   font-size: 16px;

}
#banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 130px 220px;
   gap:30px ;
    justify-self: center;
    text-align: center;
   background-color: rgb(0, 0, 255,0);
    
}


/* ****MAIN STYLE**** */

/* **ACTION STYLE** */

main{
    max-width: 1000px;
    margin: 0 auto;
   
}

#action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 5px;
}

#action-detailes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 200px;
}

#act-title{
    font-size: 35px;
    font-weight: 700;
}

#act-disc{
    color: rgba(37, 36, 50, 0.5);
}

#third-btn{
   background-color: #4E47FF;
   width: 230px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    color: white;
}
#act-img{
    height: 270px;
    border-radius: 48px;
    
}

/* ***VIEW STYLLE*** */

.about{
 background-color: rgba(116, 113, 220, 0.1);
}
#views{
   
    text-align: center;
    margin-top: 100px;
    padding: 30px;
    border-radius: 24px;
     background-color: rgba(116, 113, 220, 0.1);}

#vi-discri{
    display: flex;
    justify-content: space-between;
    background-color: rgba(116, 113, 220, 0.1);

}
#view-title{
    font-size: 38px;
    font-weight: 700;
     background-color: rgba(116, 113, 220, 0.1);
}
#vi-text1{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
     background-color: rgba(116, 113, 220, 0.1);
}
#vi-text2{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
     background-color: rgba(116, 113, 220, 0.1);
}
#vi-text3{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
     background-color: rgba(116, 113, 220, 0.1);
}
#vi-title1{
    font-size: 20;
    color: rgba(0, 0, 0, 0.5);
     background-color: rgba(116, 113, 220, 0.1);
}
#vi-title2{
    font-size: 20;
    color: rgba(0, 0, 0, 0.5);
     background-color: rgba(116, 113, 220, 0.1);
}
#vi-title3{
    font-size: 20;
    color: rgba(0, 0, 0, 0.5);
     background-color: rgba(116, 113, 220, 0.1);
}


