*{
    margin: 0px;
}

/* SHARED STYLE  */

.font1{
     
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.font2{
     
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 /***** ****HEADER STYLE**** *****/

 /* **NVIGATION STYLE** */

#header{
    margin: 0px;
    height: 698px;
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}
#logo{
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}
#first-btn{
    background-color: #4E47FF;
    width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
}
#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px ;
    padding: 30px 0px;
}

/* ***BANNER STYLE*** */


#banner-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

#second-btn{
    background-color: #4E47FF;
     width: 120px;
    height: 35px;
    border: 0px;
    border-radius: 10px;

}
#banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 130px 220px;
   gap:30px ;
    justify-self: center;
    text-align: center;
}

